<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a template <% docs.slug %></h1>
    <h1><%= docs.title %></h1>
    <p><%= docs.content%></p>
   
</body>
</html>